*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
}
nav{
    padding: 10px;
    background-color: #02022a;
    height: 57px;
    position: relative;
    z-index: 9999999;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
nav ul li{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin-left: 5px;
}
nav ul li:hover{
    background-color: rgba(255, 255, 255, 0.448);
    width: 200px;
}
nav ul li:hover a{
    color: black;
}

nav ul li a{
    color: orange;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a i{
    margin: 5px;
}
.carousel{
position: relative;
}
.carousel-p{
    height: 250px;
    position: absolute;
    z-index: 11;
    background-color: #ffffff42;
    color: white;
    bottom: 100px;
    left: 160px;
    text-align: center;
    width: 500px;
    padding: 100px;
}
h2{
    font-size:50px;
}
img{
    width: 100%;
}
.container-text{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}
.carousel-img{
background-image: url(../photos/slide-01.jpg);
background-size: cover;
padding: 50px;
text-align: center;
padding-top: 100px;
background-attachment: unset;
color: orange;

}

footer{
    background-image: url(../photos/RC\ Cairo_3539.jpeg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 500px;
}